<h1 class="page-header">{{ i18n.literals.DASHBOARD }}</h1>
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <div class="placeholder bg-success">
            <h3 class="text-center">{{i18n.literals.LESSONS}}</h3>
            <p class="h1">{{::stats.no_lessons}}</p>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="placeholder bg-warning">
            <h3 class="text-center">{{i18n.literals.STUDENTS}}</h3>
            <p class="h1">{{::stats.no_students}}</p>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="placeholder bg-danger">
            <h3 class="text-center">{{i18n.literals.VIEWS}}</h3>
            <p class="h1">{{::stats.no_views}}</p>
        </div>
    </div>
</div>
